body{
    margin: 0px;
    width: 100vw; max-width: 100vw;
    height: 100vh; max-height: 100vh;
    overflow: hidden;
}
body, html{
    background-color: #08060f;
}
#moving-touch-dot{
    background-color: #000000cd;
    opacity: 0.5;
    position: fixed;
    width: 50px;
    height: 50px;
    left: 10px;
    top: 10px;
    border-radius: 100px;
}

#joystick{
    position: fixed;
    display: none;
    width: 150px;
    height: 150px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 25px;
    margin-left: -75px;
    margin-top: -75px;
}

.planet-overlay{
    display: none;
    width: 100vw;
    height: calc(100vh - 100px);
    position: fixed;
    left: 0px;
    bottom: 0px;
    background-color: rgba(255, 255, 255, 0.815);
}

.close-button{
    cursor: pointer;
}

#planet-overlay-droppah{

}